*{
    padding: 10px;
    background: lightblue;
}
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    width: 80px;    
}
#turnOn, #turnOff{
    color: black;
    border-radius: 20px;
}
#parede{
    background: black;
}
